<a href="https://colab.research.google.com/github/ricktoews/colab-sandbox/blob/master/Date_calculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here's how you find the day of the week for a given date in the 20th century.

Let's use February 4, 1965 as an example.

First, we should initialize a month offset template.

In [87]:
def add_mod_7(total):
  return total % 7

In [88]:
weekday_names = ["","Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
month_offsets = { 
    "January": 0, "February": 3, "March":     3,
    "April":   6, "May":      1, "June":      4,
    "July":    6, "August":   2, "September": 5,
    "October": 0, "November": 3, "December":  5,
}
target_year = 1900
target_month = "January"
target_date = 1

First, subtract 1900 from the year:

In [89]:
offset = target_year - 1900
offset

0

Next, take the integer portion of `offset` divided by 4. This is the number of leap days from 1900 to the beginning of your target year. (Note: If your target year a leap year, you should subtract 1 from leap_days.

In [90]:
leap_days = (offset // 4) - 1 if offset % 4 == 0 and offset % 100 != 0 else offset // 4
leap_days

0

Add leap_days to offset:

In [91]:
offset = offset + leap_days
offset

0

Divide offset by 7, and keep the remainder:

In [92]:
offset = offset - (offset // 7 * 7)
offset

0

Add this to 1. This is the offset for the target year.

In [93]:
target_year_offset = 1 + offset
target_year_offset

1

The next thing is to add the year offset to the month offset:

In [94]:
month_offset = target_year_offset + month_offsets[target_month]
date_offset = add_mod_7(month_offset + target_date)

print(weekday_names[date_offset])

Monday